/*html5 Reset*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

.header{
  width: 100%;
  height:80px;
  min-width: 800px;
/*  background-color:#33C7E9;*/
}

h1{
  padding-top: 30px;
  font-size: 20pt;
  margin: auto;
  width: 80%;
  text-align: center;
}

.content{
/*  border: 3px solid #191919;*/
  min-width:800px;
  width: 60%;
  margin:auto;
}

h2{
  font-weight: normal;
  width: 50%;
  text-align: center;
  margin: auto;
  margin-bottom: 6px;
}

/*styling for the table view*/
table{
  width: 80%;
  margin: auto;
  border: 1px solid #999;
  -webkit-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-radius: 10px;
}

table thead td{
  font-weight: bold;
}

table td{
 border-bottom: 1px solid #999;
 padding-left: 3px;
}
/*
table td:last-child{
  border-right: 1px solid #999;
}*/
table thead tr:first-child td:first-child{
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
}
table thead tr:first-child td:last-child{
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
}
table tbody tr:last-child td:last-child{
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
}
table tbody tr:last-child td:first-child{
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
}
/*
table td:first-child{
  //border-left: 1px solid #999;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
*/
.name{
  width: 60%;
}

table thead tr {background: #DEE4FB}
table tbody tr:nth-child(even) {background: white}
table tbody tr:nth-child(odd) {background: #EFF5FB}


table tbody tr:hover{
  background-color:yellow;
  cursor: pointer;
}

/*styling for the new snack form*/
.form_instructions{
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}

.form_instructions button{
  margin-top: 10px;
  width: 275px;
}

.form_instructions p{
  font-size: 16pt;
}

.form_container{
  width: 60%;
  margin: auto;
  margin-top: 20px;
  border: 2px solid #999;
  padding: 5px;
  display:none;
}

.form_container .field{
  width: 70%;
  margin: auto;
}

.alert{
  width: 80%;
  height: 50px;
  margin: 10px auto 10px auto;
  background-color: #D43301;
  text-align: center;
  font-size: 18pt;
}
