<table  id="snack_list">
  <tbody>
    <% if !@snacks.blank? %>
      <% for item in @snacks %>
        <tr>
          <td>item.name</td>
          <td>item.quantity</td>
          <td>item.price</td>
        </tr>
      <% end %>
    <% else %>
      
    <% end %>
    
  </tbody>
</table>